html, body { border-width: 0px; margin: 0px; height: 100%; width: 100%; }
div#container {
  width: 100%;
  min-height: 100%;
  border-width: 0px;
  margin: 0px;
}
a, a:link, a:visited, a:hover, a:focus, a:active {
	outline: none !important;
	-moz-outline-style: none !important;
}

.group:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.clear { clear: both; }

.fl { float: left; }

div#container {
	color: #fff;
}

div#container h1 {
	padding: 25px 0 0 150px;
	margin: 0;
}

div#container h1 a {
	display: block;
	background: url(../images/title.png) no-repeat;
	width: 245px;
	height: 115px;
	text-indent: -9999px;
}

div#container nav ul li a {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
}

div#container nav ul a li img {
}

div#container nav ul a:hover li p {
  opacity: 1;
}

div#container nav ul a li p {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  font-weight: normal;
  font-size: 16px;
  line-height: 131px;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  text-transform: uppercase;
}

nav > ul {
	margin: 0;
	padding: 25px 0 0 10%;
	width: 80%;
}

div#videos { display: none; padding-bottom: 25px; }

div#videos ul { padding: 0; }

div#videos ul li {
	float: left;
        position: relative;
        width: 25%;
        height: 131px;
}

div#videos ul li img {
  width: 100%;
}

div#videos ul li p {
	margin: 0;
}

div#container nav ul li .controls a {
	text-transform: lowercase;
	float: right;
	display: inline;
	font-weight: normal;
	font-size: 16px;
}
div#container nav ul li a.exit {
	background: url(../images/close.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	float: right;
	margin: -55px 0 0;
}

nav ul li:first-child {
	border-bottom: 1px solid #fff;
}
div#videos ul li:first-child { border: none; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

iframe.vimeo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contact {
	margin: 50px 0 0 0;
	display: none;
}

#contact h2 {
	margin: 0;
	font-size: 36px;
}

#contact p {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px 1px #000;
}

nav ul li #contact p a {
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: underline;
}

.border-bottom {
	border-bottom: 1px solid #fff;
	margin-bottom: 25px;
}

.admin-container {
	width: 960px;
	margin: 0 auto;
}

ul#admin-videos {
	list-style-type: none;
	padding: 0;
}

ul#admin-videos li {
	padding: 10px;
	background: #ccc;
	margin-bottom: 15px;
}

ul#admin-videos li img {
  width: 200px;
}

.handle { float: right; }

.handle:hover { cursor: move; }
