html, body, div#container { border-width: 0px; margin: 0px; width: 100%; height: 100%; }
a, a:link, a:visited, a:hover, a:focus, a:active { 
	outline: none !important;
	-moz-outline-style: none !important; 
}

.group:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
        }
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.clear { clear: both; }

.fl { float: left; }

div#container {
	color: #fff;
}

div#container h1 {
	padding: 25px 0 0 150px;
	margin: 0;
}

div#container h1 a {
	display: block;
	background: url(../images/title.png) no-repeat;
	width: 245px;
	height: 115px;
	text-indent: -9999px;
}

div#container nav ul li a {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
}

div#container nav ul a li p {
	text-transform: lowercase;
	font-weight: normal;
	font-size: 16px;
}

nav ul {
	margin: 0;
	padding: 25px 0 0 150px;
	width: 840px;
}

div#videos { display: none; }

div#videos ul { padding: 0; }

div#videos ul li {
	float: left;
	margin-right: 18px;
	margin-bottom: 25px;
}

div#videos ul a:nth-child(4n) li {
	margin-right: 0;
}

div#videos ul li p {
	margin: 0;
}

div#container nav ul li .controls a {
	text-transform: lowercase;
	float: right;
	display: inline;
	font-weight: normal;
	font-size: 16px;
}
div#container nav ul li a.exit {
	background: url(../images/close.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	text-indent: -9999px;
	float: right;
	margin: -55px 0 0;
}

nav ul li:first-child {
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
}
div#videos ul li:first-child { border: none; }

#contact {
	margin: 50px 0 0 300px;
	display: none;
}

#contact h2 {
	margin: 0;
	font-size: 36px;
}

#contact p {
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}

nav ul li #contact p a {
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: underline;
}

.border-bottom {
	border-bottom: 1px solid #fff;
	margin-bottom: 25px;
}

.admin-container {
	width: 960px;
	margin: 0 auto;
}

ul#admin-videos {
	list-style-type: none;
	padding: 0;
}

ul#admin-videos li {
	padding: 10px;
	background: #ccc;
	margin-bottom: 15px;
}

.handle { float: right; }

.handle:hover { cursor: move; }