@media only screen and (orientation:portrait) {

  body div#container h1 {
    padding: 25px 0;
  }

	nav ul {
		padding: 25px 0 0 5%;
		width: 290px;
	}

	div#videos ul li img {
	}

	div#container, body { background: #000 !important; }

	div#container h1 {
		margin: 0 auto;
		padding: 25px 0 0;
		width: 245px;
	}

	div#videos ul li {
		width: 150px;
    height: 84px;
	}

  div#container nav ul a li p {
    line-height: 84px;
  }

	div#container nav ul a li p { font-size: 11px; }

}

@media only screen and (orientation:landscape) {

	div#container, body { background: #000 !important; }

	nav ul {
		padding: 25px 0 0 5%;
		width: 440px;
	}

	div#videos ul li img {
		width: 140px;
	}

	div#container h1 {
		margin: 0 auto;
		padding: 25px 0 0;
		width: 245px;
	}

	div#videos ul li {
		width: 30%;
	}

	div#videos ul a:nth-child(3n) li {
		margin-right: 0;
	}

	div#videos ul a:nth-child(4n) li {
	}

	video.video-js {
		width: 440px;
		height: 248px;
	}

	div#container nav ul a li p { font-size: 11px; }

}
