@media only screen and (orientation:portrait) {

  body div#container h1 {
    padding: 25px 0;
  }

	nav ul {
		padding: 25px 0 0 5%;
		width: 290px;
	}

	div#videos ul li img {
	}

	div#container, body { background: #000 !important; }

	div#container h1 {
		margin: 0 auto;
		padding: 25px 0 0;
	}
}

@media only screen and (orientation:landscape) {

	div#container, body { background: #000 !important; }

}
