
  div#container h1 {
		padding: 25px 0 0 25px;
	}

	nav > ul {
		padding: 25px 0 0 5%;
		width: 90%;
	}

  div#videos ul {
    width: 100%;
  }

	div#videos ul li {
	}

	div#videos ul li img {
	}

        div#container nav ul a li p {
        }

	video.video-js {
		width: 100%;
		height: auto;
	}

	.vjs-spinner { display: none !important; }
