
  div#container h1 {
		padding: 25px 0 0 25px;
	}

	nav ul {
		padding: 25px 0 0 5%;
		width: 700px;
	}

	div#videos ul li {
		margin-right: 3%;
		width: 22%;
	}

	div#videos ul li img {
		width: 150px;
	}

	video.video-js {
		width: 640px;
		height: 360px;
	}

	.vjs-spinner { display: none !important; }
