= form_for @video, :html => { :multipart => true } do |f|

	%p
		=f.label :title, "Spot Name"
		%br/
		=f.text_field :title

	%p
		=f.label :client, "Client Name"
		%br/
		=f.text_field :client

	%p
		=f.label :video, ".mp4 file"
		%br/
		=f.file_field :video

	%p
		=f.label :ogg, ".ogg file"
		%br/
		=f.file_field :ogg

	%p
		=f.label :thumb, "thumbnail"
		%br/
		=f.file_field :thumb

	%p= f.submit :disable_with => "Uploading Files..."
